body {
    margin: 0;
    font-family: "Helvetica Neue", serif;
}

header {
    width: 100%;
    height: 80px;
    box-shadow: -1px 5px 5px 0 #D5D4D6;
    margin: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
}

nav ul:nth-child(1) {
    padding: 0;
    list-style: none;
    height: inherit;
    width: 20%;
}

nav ul:nth-child(1) li img {
    width: 120px;
    height: 80px;
}

nav ul:nth-child(2) {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
    width: 80%;
}

nav ul:nth-child(2) li {
    align-self: center;
    width: 10%;
    padding: 10px;
    text-align: center;
}

nav ul:nth-child(2) li a {
    text-decoration: none;
    color: #272525;
    font-size: 16px;
}

nav ul:nth-child(2) li a:hover {
    color: #D5D4D6;
}
main {
    width: 100%;
    padding: 0;
}

#intro {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

#about_me {
    width: 70%;
    align-self: center;
    line-height: 30px;
    text-align: justify;
    padding: 20px;
    box-sizing: border-box;
}

#photo {
    width: 30%;
    height: auto;
    align-self: center;
    padding: 20px;
}

#services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#services div {
    width: 20%;
    align-self: center;
    margin: 10px;
}
