header {
    position: fixed;
    height: 100px;
    width: 100%;
    background: #fafafb;
    border: 1px solid #D5D4D6;
    top: 0;
    z-index: 11111
}

body {
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    height: auto;
    margin-top: 120px;
}

.up {
    margin: auto;
    width: 50%;
}

.cards {
    width: 250px;
    margin: auto;
    height: 300px;
    position: relative;
    border: 1px solid lightgrey;
}

.p_absolute {
    position: absolute;
    height: 50px;
    width: 250px;
    z-index: 999;
    top: 250px;
    left: 0;
    right: 0;
    background: gold;
    color: black;
    text-align: center;
}

.p_relative {
    position: relative;
    height: 300px;
    z-index: 1000;
    width: 250px;
    bottom: 0;
    top: 0;
}

.card-flex {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
